*{
    box-sizing: inherit;
}
html{
    font-size:62.5%;
    font-family:$font-body;
    box-sizing:border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 300;
}
// span,a{
//     display: block;
// }
ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    li{
        list-style:none;
        a{
            text-decoration:none;
        }
    }
}
