// ====================
// TYPOGRAPHY
// ---

$font-body: "roboto";

$font-weight-body:		600;
$font-weight-bold:		400;
$font-weight-semibold:	300;
$font-weight-light:		200;			

// ====================
// Font Size Rem
// Default: 1rem = 16px
// ---
$size-default:		16px;
$line-height-default: 1.42857143;


// ====================
// Colors scheme for Themes
// ---
$navbar-color: #000;
$white-color: #ffff;
$textSpan-color: #787878;
$orange-color:#f8971d;

// ====================
// Devices
// ---
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;


// ====================
// List for space around: padding, margin 
// ---
$list-item: 30, 40, 50, 60; 
