<section class="carousel-section">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/tenet-hero-d.jpg" class="d-block w-100" alt="...">
                <div class="carousel-detail">
                    <div class="container">
                        <div class="carousel-field">
                            <div class="carousel-detail__content">
                                <a class="carousel-detail__icon">
                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                                        <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                                        <path
                                            d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                                        </path>
                                    </svg>
                                </a>
                                <div class="carousel-body">
                                    <h3 class="carousel-detail__tittle">TENET</h3>
                                    <span class="carousel-detail__subtittle">
                                        <span class="carousel-detail__age">18+</span>
                                        <span class="carousel-detail__subtittle">Now showing at your local Vue</span>
                                    </span>
                                </div>
                            </div>
                            <!--  -->
                            <div class="carousel-detail__btnbook">
                                <a class="carousel-detail__link" href="">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/rom.jpg" class="d-block w-100" alt="...">
                <div class="carousel-detail">
                    <div class="container">
                        <div class="carousel-field">
                            <div class="carousel-detail__content">
                                <a class="carousel-detail__icon">
                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                                        <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                                        <path
                                            d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                                        </path>
                                    </svg>
                                </a>
                                <div class="carousel-body">
                                    <h3 class="carousel-detail__tittle">TENET</h3>
                                    <span class="carousel-detail__subtittle">
                                        <span class="carousel-detail__age">18+</span>
                                        <span class="carousel-detail__subtittle">Now showing at your local Vue</span>
                                    </span>
                                </div>
                            </div>
                            <!--  -->
                            <div class="carousel-detail__btnbook">
                                <a class="carousel-detail__link" href="">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/images/ava.jpg" class="d-block w-100" alt="...">
                <div class="carousel-detail">
                    <div class="container">
                        <div class="carousel-field">
                            <div class="carousel-detail__content">
                                <a class="carousel-detail__icon">
                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                                        <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                                        <path
                                            d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                                        </path>
                                    </svg>
                                </a>
                                <div class="carousel-body">
                                    <h3 class="carousel-detail__tittle">TENET</h3>
                                    <span class="carousel-detail__subtittle">
                                        <span class="carousel-detail__age">18+</span>
                                        <span class="carousel-detail__subtittle">Now showing at your local Vue</span>
                                    </span>
                                </div>
                            </div>
                            <!--  -->
                            <div class="carousel-detail__btnbook">
                                <a class="carousel-detail__link" href="">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class="main-films-section">
    <div class="container">
        <div class="main-field">
            <div class="region-films">
                <div class="region-films-content">
                    <span class="region-films__select-films">
                        <a href="" class="region-films__link">
                            gò vấp
                        </a>
                    </span>
                    <a href="" class="region-films__icon">go</a>
                </div>
                <div class="search-region-films-content">
                    <span class="search-region-box">
                        <input type="text" placeholder="Nhập films bạn cần tìm" class="search-region__input">
                        <span class="search-region__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                <circle cx="8.4" cy="8" r="3.2" fill="none" stroke="#010202" stroke-linecap="round"
                                    stroke-miterlimit="10" stroke-width=".8"></circle>
                                <path fill="none" stroke="#010202" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width=".8" d="M10.4 10.7l2.4 2.5"></path>
                            </svg>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="release-films">
            <div class="row">
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field" data-animate="bounceIn" data-duration="1.0s" data-delay="0.1s">
                            <img src="./assets/images/cats and dogs 3-hero-m.jpg" alt="" class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field" data-animate="bounceIn" data-duration="1.0s" data-delay="0.2s">
                            <img src="./assets/images/TheRockyHorrorShow-hero-m.jpg" alt="" class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field" data-animate="bounceIn" data-duration="1.0s" data-delay="0.3s">
                            <img src="./assets/images/Home Page Panel_botbs_higher_2.png" alt=""
                                class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field">
                            <img src="./assets/images/cats and dogs 3-hero-m.jpg" alt="" class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field">
                            <img src="./assets/images/TheRockyHorrorShow-hero-m.jpg" alt="" class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4">
                    <a href="" class="release-films__link">
                        <div class="view-field">
                            <img src="./assets/images/Home Page Panel_botbs_higher_2.png" alt=""
                                class="view-field__img">
                            <h2 class="view-field__tittle">tenet</h2>
                            <span class="view-field__small-tittle">book now</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="upcoming-movie-section">
    <div class="container">
        <div class="region-upcoming-movie">
            <div class="upcoming-movie-box">
                <span class="upcoming-movie__tittle">Phim Sắp Chiếu</span>
            </div>
            <div class="upcoming-movie__small-tittle">
                <h2>Tất cả film tại Rạp gò vấp</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/tenet.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>tennet</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/after-we-collied.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>after we collied</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/JoJo Siwa's D.R.E.A.M. Tour on the Big Screen.jpg" alt=""
                        class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>JoJo Siwa's D.R.E.A.M. Tour on the Big Screen</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/fid20064.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Bill & Ted Face The Music</h2>
                    </span>
                </div>
            </div>
        </div>
        <div class="ads-section">
            <img src="./assets/images/3560238506066880736.jfif" alt="">
        </div>
        <div class="row">
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/away.jpg" alt=""
                        class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>away</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/1080wx1920h_1600240284885.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Turu: A Wacky Hen</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/1_1601283095653.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Transference: Dark Mutants</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/300-da-quy_1600835430828.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>The Widow</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/cdm-digital1sheet-intl-vie-1610_1596782898784.jpg" alt=""
                        class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Candyman</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/b25-digtal-apac-1-sheet-vie-1_1589529306298.jpg" alt=""
                        class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>No Time to Die</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/440wx660h_1600944565498.jpg" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Honest Thief</h2>
                    </span>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcoming-movie-field">
                    <img src="./assets/images/poster-0116-3_1581322844881.png" alt="" class="upcoming-movie-fiel__img">
                    <span class="upcoming-movie-field__tittle">
                        <h2>Chị Mười Ba: 3 Ngày Sinh Tử</h2>
                    </span>
                </div>
            </div>
        </div>
        <div class="ads-section">
            <img src="./assets/images/14173220405990602917.png" alt="">
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="blogs-box">
            <h2 class="blogs-box__tittle">blogs</h2>
        </div>
        <div class="blogs-grid">
            <div class="row">
                <div class="blogs-field item1 col-xl-8">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/5039684rom3-160126604107852105976-1.jpg" alt=""
                                    class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Ròm: Bạo Lực Xuất Sắc Với Trải Nghiệm Đánh Đề Cực Đã</h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Ròm là câu chuyện về một cậu bé bị cha mẹ bỏ rơi, phải mưu sinh cực khổ bằng nghề bán vé
                                dò kiêm luôn ghi đề. Nơi cậu sống là trên mái nhà của một khu chung cư cũ. Những người
                                dân tại khu lao động nghèo hằng ngày vẫn mơ ước được đổi đời thông qua những con số đề
                                đầy may rủi.</p>
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/5039684rom3-160126604107852105976-1.jpg" alt=""
                            class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Ròm: Bạo Lực Xuất Sắc Với Trải Nghiệm Đánh Đề Cực Đã</h2>
                </div>
                <div class="blogs-field item2 col-xl-4">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/deadpool450x300_1601866752467.jpg" alt=""
                                    class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Marvel Muốn Ký Hợp Đồng Khủng Với ‘Deadpool’ Ryan Reynolds?
                            </h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Mới đây, Scooper DanielRPK thông qua tài khoản Patreon của mình đã cho biết rằng Chủ tịch của Marvel Studios - Kevin Feige đang có ý định ký một hợp đồng với Ryan Reynolds, ngôi sao đảm nhiệm vai diễn siêu anh hùng “bựa” Deadpool. Đáng chú ý, đây sẽ là một bản hợp đồng lớn nhất trong lịch sử của MCU vì Feige muốn Reynolds đồng ý tham gia nhiều dự án hơn bất kỳ diễn viên nào khác đã từng xuất hiện trong vũ trụ điện ảnh này trước đó.</p>
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/deadpool450x300_1601866752467.jpg" alt="" class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Marvel Muốn Ký Hợp Đồng Khủng Với ‘Deadpool’ Ryan Reynolds?
                    </h2>
                </div>
                <div class="blogs-field item3 col-xl-3">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/f1d2u67yync6u8ag8ptgp4uf9mwxrcnr4pge9klb_1598592515785.jpg"
                                    alt="" class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Tenet: Bom Tấn Giải Cứu Phòng Vé Toàn Cầu</h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Nhân Vật Chính là anh chàng da đen suốt phim chưa từng được gọi bằng tên riêng. Sau khi bị kẻ thù tra tấn khủng khiếp mà thà chết không khai tựa như Steve Rogers thời ốm yếu vẫn liều mạng ôm lựu đạn, Nhân Vật Chính nhận sứ mệnh lớn lao – ngăn chặn thế chiến thứ 3. Anh phải tìm ra nguồn gốc vũ khí nghịch đảo đáng sợ - dấu hiệu cho thấy hồi kết nhân loại. Xem thêm tại: https://www.galaxycine.vn/binh-luan-phim/review-tenet-bom-tan-giai-cuu-phong-ve-toan-cau

                                Xem thêm tại: https://www.galaxycine.vn/binh-luan-phim/review-tenet-bom-tan-giai-cuu-phong-ve-toan-cau</p>
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/f1d2u67yync6u8ag8ptgp4uf9mwxrcnr4pge9klb_1598592515785.jpg" alt=""
                            class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Tenet: Bom Tấn Giải Cứu Phòng Vé Toàn Cầu</h2>
                </div>
                <div class="blogs-field item4 col-xl-3">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/aqdd4_1599445372823.png" alt=""
                                    class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Chuyện phim bắt đầu với phi vụ cuối cùng của sát thủ In Nam. Sau khi tiêu diệt được mục
                                tiêu, cứ ngỡ cuộc đời của In Nam sẽ có thể bước sang một chương mới nhưng không, đúng
                                lúc này hắn nhận được tin người bạn gái cũ trước đây bị sát hại vô cùng dã man ở Thái
                                Lan. Và đặc biệt, cô con gái 9 tuổi mà hắn chưa một lần gặp mặt đã bị bắt cóc. Chính vì
                                thế, thay vì đi Panama như dự định ban đầu, In Nam tức tốc lên đường đến Bangkok. </p>
                           
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/aqdd4_1599445372823.png" alt="" class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                </div>
                <div class="blogs-field item5 col-xl-3">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/aqdd4_1599445372823.png" alt=""
                                    class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Chuyện phim bắt đầu với phi vụ cuối cùng của sát thủ In Nam. Sau khi tiêu diệt được mục
                                tiêu, cứ ngỡ cuộc đời của In Nam sẽ có thể bước sang một chương mới nhưng không, đúng
                                lúc này hắn nhận được tin người bạn gái cũ trước đây bị sát hại vô cùng dã man ở Thái
                                Lan. Và đặc biệt, cô con gái 9 tuổi mà hắn chưa một lần gặp mặt đã bị bắt cóc. Chính vì
                                thế, thay vì đi Panama như dự định ban đầu, In Nam tức tốc lên đường đến Bangkok. </p>
                           
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/aqdd4_1599445372823.png" alt="" class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                </div>
                <div class="blogs-field item6 col-xl-3">
                    <div class="blogs-field-box">
                        <div class="blogs-field-content">
                            <div class="blogs-field-content-box">
                                <img src="./assets/images/aqdd4_1599445372823.png" alt=""
                                    class="blogs-field-content__img">
                            </div>
                            <h2 class="blogs-field__tittle">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                            <span class="blogs-field__date">20/09/2020 10:42pm</span>
                            <p>Chuyện phim bắt đầu với phi vụ cuối cùng của sát thủ In Nam. Sau khi tiêu diệt được mục
                                tiêu, cứ ngỡ cuộc đời của In Nam sẽ có thể bước sang một chương mới nhưng không, đúng
                                lúc này hắn nhận được tin người bạn gái cũ trước đây bị sát hại vô cùng dã man ở Thái
                                Lan. Và đặc biệt, cô con gái 9 tuổi mà hắn chưa một lần gặp mặt đã bị bắt cóc. Chính vì
                                thế, thay vì đi Panama như dự định ban đầu, In Nam tức tốc lên đường đến Bangkok. </p>
                           
                            <button class="blogs-field__btn">Xem Thêm</button>
                        </div>
                        <img src="./assets/images/aqdd4_1599445372823.png" alt="" class="blogs-field__img">
                    </div>
                    <h2 class="blogs-field__tittle--main">Ác Quỷ Đối Đầu: Màn Trình Diễn Đáng Đồng Tiền Bát Gạo</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="trailer-section">
    <div class="container">
        <div class="trailer-box">
            <h2>trailer phim </h2>
        </div>
        <div class="trailer-content">
            <div class="trailer-fields">
                <img src="./assets/images/fid19734_trid18298.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Top Gun: Maverick - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20066_trid18730.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Tenet - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20066_trid18730.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Tenet - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid19804_trid19155.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">No Time To Die - Trailer 2</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20064_trid18993.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Bill & Ted Face The Music - Teaser Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20321_trid18957.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">23 Walks - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20269_trid18902.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Schemers - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20096_trid18771.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">David Attenborough: A Life On Our Planet - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20221_trid18937.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">Matthew Bourne's The Red Shoes - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="trailer-fields">
                <img src="./assets/images/fid20505_trid19171.jpg" alt="" class="trailer-fields__img">
                <div class="trailer-fields-detail">
                    <span class="trailer-fields-detail__sub-tittle">trailer</span>
                    <h2 class="trailer-fiels-detail__tittle">The Elfkins - Trailer</h2>
                    <a class="carousel-detail__icon">
                        <!--?xml version="1.0" encoding="utf-8"?-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 85">
                            <circle cx="42.5" cy="42.5" r="39.9" class="icon-play-0"></circle>
                            <path
                                d="M58.7 43.2l-23.3 8.9c-1 .4-1.9-.2-1.9-1.3V34.2c0-1.1.8-1.7 1.9-1.3l23.3 8.9c1 .4 1 1 0 1.4z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>