.overlay{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.filter{
    opacity: 1 !important;
    @include animation("slow",0);
    transition-delay:1s;
}
header {
    background-color: $navbar-color;
    height: 65px;
    .container {
        display: flex;
        justify-content: space-between;
        width:1040px;
        .logo {
            width: 155px;
            line-height: 70px;
            height: 65px;
            padding: 0px 15px;
            & .logo__img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .header__mainnav {
            font-family: $font-body;
            .header__sitenav {
                display: flex;
                align-items: center;
                height: 65px;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    li {
                        list-style: none;
                        padding-right: 35px;
                        &:nth-child(5) {
                            padding-right: 0;
                        }
                        a {
                            text-decoration: none;
                            color: $textSpan-color;
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            letter-spacing: 1px;
                            font-weight: $font-weight-bold;
                            &:hover {
                                background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                transition: 300ms ease-in;
                            }
                        }
                    }
                }
                .region-header {
                    ul {
                        li {
                            &:nth-child(1) {
                                padding-right: 0;
                            }
                            &:nth-child(2) {
                                padding-left: 15px;
                            }
                            .icon-search {
                                svg {
                                    padding: 8px;
                                    display: block;
                                    width: 50px;
                                    height: 49px;
                                    // position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 99;
                                    * {
                                        stroke: white;
                                    }
                                }
                            }
                            .icon-account {
                                svg {
                                    padding: 8px;
                                    display: block;
                                    width: 50px;
                                    height: 49px;
                                    // position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 99;
                                    * {
                                        stroke: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.carousel-section {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    border-width: none;
    border-color: transparent;
    .carousel-inner {
        .carousel-item {
            height: auto;
            object-fit: cover;
            overflow: hidden;
            .carousel-detail {
                margin-top: 0;
                position: absolute;
                padding-bottom: 1.5em;
                padding-top: 1.5em;
                top: 75%;
                width: 100%;
                z-index: 105;
                .container {
                    width:1000px;
                    .carousel-field {
                        display: flex;
                        width: 100%;
                        margin: 0 auto;
                        justify-content: space-between;
                        .carousel-detail__content {
                            display: flex;
                            .carousel-detail__icon {
                                svg {
                                    padding-right: 10px;
                                    display: block;
                                    width: 70px;
                                    height: 80px;
                                    // position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 99;
                                    * {
                                        stroke: white;
                                        fill: none;
                                        stroke-width: 3;
                                    }
                                }
                            }
                            .carousel-body {
                                display: flex;
                                flex-direction: column;
                                .carousel-detail__tittle {
                                    color: $white-color;
                                    font-size: 3.2rem;
                                }
                                .carousel-detail__subtittle {
                                    color: $white-color;
                                    font-size: 1.4rem;
                                }
                                .carousel-detail__age {
                                    font-size: 1.4rem;
                                    color: $white-color;
                                    padding: 5px;
                                    font-weight: $font-weight-bold;
                                    margin-right: 5px;
                                    background-color: $orange-color;
                                }
                            }
                        }
                        .carousel-detail__btnbook {
                            border: 3px solid $orange-color;
                            width: 155px;
                            height: 50px;
                            border-radius:5px;
                            line-height: 50px;
                            text-transform: uppercase;
                            @include animation("slow",0);
                            &:hover{
                                box-shadow: 0 0 30px 4px $orange-color;
                                @include animation("slow",0);
                            }
                            .carousel-detail__link {
                                color: $white-color;
                                font-size: 1.6rem;
                                text-align: center;
                                display: block;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-films-section {
    box-shadow: 0 -36px 69px 28px #000;
    position: relative;
    z-index: 100;
    padding-bottom: 60px;
    padding-top: 60px;
    font-family: "roboto";
    background-color: #000;
    .container {
        width:1040px;
        .main-field {
            width: 100%;
            height: 120px;
            padding: 20px;
            .region-films {
                display: flex;
                justify-content: space-between;
                .region-films-content {
                    .region-films__select-films {
                        .region-films__link {
                            font-size: 2.4rem;
                            color: $white-color;
                            text-decoration: none;
                            text-transform: uppercase;
                            // padding-top:1.2rem;
                            &::before {
                                background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                                content: "";
                                display: block;
                                width: 82px;
                                height: 3px;
                                position: relative;
                                top: 0;
                                margin-bottom: 20px;
                                margin-top: -20px;
                            }
                        }
                    }
                    .region-films__icon {
                        border: 2px solid #333;
                        padding: 1.2rem 1.6rem;
                        color: $white-color;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        text-decoration: none;
                        margin-left: 10px;
                        transition: 300ms ease-in-out;
                        &:hover {
                            box-shadow: 0 0 5px $textSpan-color, 0 0 20px $textSpan-color, 0 0 40px $textSpan-color;
                            transition: 300ms ease-in-out;
                        }
                    }
                }
                .search-region-films-content {
                    .search-region-box {
                        display: flex;
                        position: relative;
                        .search-region__input {
                            width: 315px;
                            height: 45px;
                            line-height: 45px;
                            border: 1px solid #787878;
                            background-color: transparent;
                            /* padding: 0 5px; */
                            text-transform: capitalize;
                            font-size: 1.4rem;
                            border-top-color: transparent;
                            border-right-color: transparent;
                            border-left-color: transparent;
                            color: $white-color;
                            transition: 300ms ease-in-out;

                            &:focus {
                                border-bottom-color: $white-color;
                                outline: none;
                                transition: 300ms ease-in-out;
                            }
                        }
                        .search-region__icon {
                            position: absolute;
                            margin-left: 89%;
                            svg {
                                padding: 8px;
                                display: block;
                                width: 50px;
                                height: 49px;
                                // position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 99;
                                * {
                                    stroke: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .release-films{
            position: relative;
            .row{
                .release-films__link{
                    text-decoration: none;
                    .view-field{
                        margin-bottom: 30px;
                        position: relative;
                        // transform:perspective(220px) rotateY(0);
                        transition:200ms ease-in-out;
                        &:hover{
                            box-shadow:0 0px 50px -22px #787878;
                            z-index: 1000;
                        }
                        .view-field__img{
                            @include setImage(cover,100%);
                        }
                        .view-field__tittle{
                            font-size: 2.4rem;
                            color: $white-color;
                            position: absolute;
                            top: 70%;
                            left: 10%;
                            text-transform: uppercase;
                        }
                        .view-field__small-tittle{
                            position: absolute;
                            z-index: 10;
                            font-size: 1.4rem;
                            text-decoration: none;
                            color: white;
                            text-transform: uppercase;
                            background-color: orange;
                            padding: 15px;
                            width: 42%;
                            left: 203px;
                            top: 83.5%;
                        }
                    }
                }
            }
        }
    }
}
.upcoming-movie-section{
    @include font(body);
    background-image: linear-gradient(110deg,transparent 65.94%,#0d0d0d 57%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color:black;
    .container{
        width:1040px;
        .region-upcoming-movie{
            padding: 0 20px;
            @include flexbox(flex,space-between,0,0,0);
            .upcoming-movie-box{
                padding-bottom: 60px;
                .upcoming-movie__tittle{
                    font-size: 2.4rem;
                    color: $white-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding-top:1.2rem;
                    &::before {
                        background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                        content: "";
                        display: block;
                        width: 82px;
                        height: 3px;
                        position: relative;
                        top: 0;
                        margin-bottom: 20px;
                        margin-top: -20px;
                    }
                }
            }
            .upcoming-movie__small-tittle{
                h2{
                    border-bottom: 1px solid rgba(255,255,255,.2);
                    color:$white-color;
                    font-size: 1.6rem;
                    padding-bottom: 10px;
                }
            }
        }
        .ads-section{
            padding:30px 15px;
            img{
                @include setImage(cover,100%);
            }
        }
        .row{
            padding: 15px;
            .upcoming-movie-field{
                margin-bottom:120px;
                @include animation(500ms,ease-in-out);
                position: relative;
                height: 300px;
                &:hover{
                    box-shadow:0 0px 800px -22px #787878;
                    z-index: 1000;
                    transform: scale(1.02,1.02);
                }
                .upcoming-movie-fiel__img{
                    @include setImage(cover,100%);
                }
                .upcoming-movie-field__tittle{
                    h2{
                        margin-top:30px;
                        color:$white-color;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing:0.1rem;
                        font-weight: $font-weight-semibold;
                        font-size: 1.84rem;
                        position: absolute;
                    width: 100%; 

                    }
                    
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
.blogs-section{
    background-image: linear-gradient(110deg,transparent 38%,#0d0d0d 35%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #000;
    padding-top: 60px;
    font-family: 'roboto';
    .container{
        width:1040px;
        .blogs-box{
            .blogs-box__tittle{
                font-size: 2.4rem;
                color: $white-color;
                text-decoration: none;
                text-transform: uppercase;
                padding-top:1.2rem;
                &::before {
                    background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                    content: "";
                    display: block;
                    width: 82px;
                    height: 3px;
                    position: relative;
                    top: 0;
                    margin-bottom: 20px;
                    margin-top: -20px;
                }
            }
        }
        .blogs-grid{
            overflow: hidden;
            .row{
                padding: 15px;
                .blogs-field{
                    position: relative;
                    &:hover .blogs-field-box .blogs-field-content{
                        // display: block;
                        opacity: 1;
                        transition:400ms ease all;
                    }
                    &:hover  .blogs-field__tittle--main{
                        display:none;
                    }
                    .blogs-field-box{
                        width:auto;
                        position: relative;
                        overflow: hidden;
                        height:300px;
                        .blogs-field__img{
                            @include setImage(cover,100%);
                        }
                        .blogs-field-content{
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background-color:#0D0D0D;
                            opacity: 0  ;
                            box-shadow:black 0px 30px 60px -12px inset, black 0px 18px 36px -18px inset;
                            z-index: 10;
                            transition:400ms ease all;
                            .blogs-field-content-box{
                                width:40%;
                                height:300px;
                                float: left;
                                padding:0 30px 0 0 ;
                                transition:400ms ease all;

                                .blogs-field-content__img{
                                    @include setImage(cover,100%);
                                }
                            }
                            .blogs-field__tittle{
                                font-size: 2.4rem;
                                padding-top: 30px;
                                padding-right: 30px;
                                color:$white-color;
                            }
                            p{
                                font-size: 1.2rem;
                                color: #787878;
                                // font-family: "open_san";
                                padding-right: 30px;
                                padding-top: 15px;
                                min-height:88px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 4;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .blogs-field__date{
                                color: $orange-color;
                                font-size: 1.2rem;
                                padding-top: 15px;
                            }
                        }
                    }
                    .blogs-field__tittle--main{
                        font-size: 1.8rem;
                        margin:15px 0;
                        color: $white-color;
                    }
                    .blogs-field__btn{
                        background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                        width:auto;
                        padding: 10px 30px;
                        outline:none;
                        border-style:none;
                        color:$white-color;
                        font-size: 1.2rem;
                        margin-top:10px;
                        &::after{
                            content: "\f061";
                            font-size: 1.2rem;
                            color:$white-color;
                            padding-left: 15px;
                            font-family: FontAwesome;
                        }
                    }
                }
                .item2{
                    .blogs-field__tittle{
                        font-size: 1.4rem !important;
                        padding-top: 30px;
                        padding-right: 30px;
                        color:$white-color;
                    }
                    p{
                        font-size: 1.2rem;
                        color: #787878;
                        // font-family: "open_san";
                        padding-right: 30px;
                        padding-top: 15px;
                        min-height:88px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .blogs-field__date{
                        color: $orange-color;
                        font-size: 1.2rem;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}
.trailer-section{
    background-image: linear-gradient(110deg,transparent 20.5%,#0d0d0d 6%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #000;
    background-color:#000;
    padding-top: 60px;
    .container{
        overflow: hidden;
        width:1040px;
        .trailer-box{
            font-size: 2.4rem;
            color: $white-color;
            text-decoration: none;
            text-transform: uppercase;
            padding-top:1.2rem;
            &::before {
                background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
                content: "";
                display: block;
                width: 82px;
                height: 3px;
                position: relative;
                top: 0;
                margin-bottom: 20px;
                margin-top: -20px;
            }
        }
    }
    .trailer-content{
        margin-left: -125%;
        display: inline-flex;
        .trailer-fields{
            width:599px;
            height:393px;
            overflow: hidden;
            .trailer-fields__img{
                @include setImage(cover,100%);
            }
        }
    }
}
.footer-section{
    background-image: linear-gradient(110deg,transparent 9%,#0d0d0d 6%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #000;
    background-color:#000;
    background-color: #000;
    border-top: 1px solid #222;
    padding-top: 5rem;
    font-family: 'roboto';
    color:#FFF;
    text-transform: capitalize;
    .container{
        width: 1040px
    }
    .footer-field1{
        .footer-field1__tittle{
            font-size: 18px;
        }
        ul{
            padding: 30px 20px 0 0;
            li{
                a{
                    font-size: 1.4rem;
                    color: #777777;@include animation("slow",0);
                    padding-bottom: 15px;
                    &:hover{
                        color:white;
                        @include animation("slow",0);
                        text-decoration: underline;
                    }
                }
            }
        }
        .social-field{
            padding: 30px 20px 0 0;
            display: flex;
            flex-direction: column;
            font-family: 'roboto';
            a{
                color: #777777;@include animation("slow",0);
                &:hover{
                    color:white;
                    @include animation("slow",0);
                    text-decoration: underline;
                }
            }
            i{
                display: flex;
                flex-direction: column;
                padding-bottom: 15px;
                padding-right:10px;
                color: #777777;
                margin-top: 4px;
                font-size: 1.4rem;
                float: left;
                text-align: center;
            }
            label{
                font-family: 'roboto';
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .copyright-text-box{
        padding: 20px 0 120px 0;
        position: sticky;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        color:$white-color;
        border-top: 1px solid #222;
        a{
            background: linear-gradient(to right,#b74d1c 0%,#f7941e 0,#eec42a 9%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 5px;
        }
    }
    .quick-book{
        z-index: 1000;
        .container{
            max-width: 1040px;
        }
        .quick-book-field{
            h4{
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                width: 6%;
            }
        }
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        background: linear-gradient(112deg,#F1BC00 10%,#F99600 80%,#fff 50%) left top no-repeat #fff;
        background-size: 305px 100%;
        z-index: 10000;
        padding: 24px 0;
    }
}
.back-to-top-btn {
    .back-to-top-link {
        background: linear-gradient(to right, #b74d1c 0, #f7941e 48%, #eec42a 100%);
        border-radius: 50%;
        bottom: 55px;
        height: 50px;
        position: fixed;
        border-style: none;
        right: 20px;
        width: 50px;
        z-index: 10001;
        &::after {
            color: #fff;
            content: "\f062";
            display: inline-block;
            font-family: FontAwesome;
            line-height: 1;
            font-size: 1.7rem;
            left: 0;
            line-height: 50px;
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
        }
        &:hover {
            background-color: $orange-color;
            color: $white-color;
        }
    }
}
@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}